@font-face {
	font-family: "Inter-500";
	src: url("../fonts/Inter-Medium.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Roboto-500";
	src: url("../fonts/Roboto-Medium.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Roboto-400";
	src: url("../fonts/Roboto-Regular.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Uto-700";
	src: url("../fonts/Uto-Bold.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Uto-400";
	src: url("../fonts/Uto-Regular.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Uto-300";
	src: url("../fonts/Uto-Light.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Uto-500";
	src: url("../fonts/Uto-Medium.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Uto-600";
	src: url("../fonts/Uto-SemiBold.woff2");
	font-display: swap;
}
