.password-input {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 4px;
		max-width: 420px;
	}

	&__head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__label {
		color: var(--3, #fff);
		font-family: Uto-400;
		font-size: 14px;
		line-height: normal;
	}

	&__forgot {
		color: var(--light, #ad7955);
		text-align: right;
		font-family: Uto-500;
		font-size: 14px;
	}

	&__input-box {
		border-radius: 8px;
		background: var(--9, #222);
		display: flex;
		width: 100%;
		max-width: 420px;
		height: 48px;
		// padding: 16px;
		justify-content: space-between;
        align-items: center;
	}

	&__input {
		width: 100%;
		background: transparent;
		color: var(--6, #999);
		font-family: Uto-400;
		font-size: 16px;
		line-height: normal;
        padding: 0 0 0 16px;
	}

	&__eye {
		margin: 0px 16px 0 0;
        opacity: 0.2;
		width: 24px;
		height: 24px;
        cursor: pointer;
		&.active {
            opacity: 1;
		}
	}
}
